* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body{
 background-color: black; 
}
/*                              sectionone(navbar)                    */
.sectionone{
  color: white;
}

.sectionone{
  background-image: url(../image/05df0db0-1f35-4c09-9ce8-4b8bf17b4ccf-40189258-0c79-4a77-a241-935aa54ffbcf-shutterstock-1389007775.jpg);
  background-size: 100% 100%;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
}
.layer {
  background-color: rgba(0, 0, 0, 0.6);
}
.navbar-brand {
  color: white;
}
.dropdown {
  width: 100px;
}
i{
  padding-left: 30px;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(152, 15, 15, 0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: rgb(255, 251, 5);
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: white;
  background-color: rgba(255, 251, 5, 0.316);
} 

.fonth2 {
  font-size: 4rem;
  color: white;
  margin-top: 120px;
  padding: 30px;
  margin-bottom: 10px;
  border-radius: 40%;
  box-shadow: 0px 10px 10px 0px rgb(255, 251, 5);
}

.fontp {
  font-size: 17px;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 40%;
  box-shadow: 0px 10px 10px 0px rgb(255, 251, 5);
}

.fontp:hover{
  box-shadow: 0px 10px 10px 0px rgba(216, 13, 13, 0.4);
}
.fonth2:hover{
  box-shadow: 0px 10px 10px 0px rgba(216, 13, 13, 0.4);
}

/* Obser */

.Obser {
  /* background-color:rgba(38, 4, 4, 0.53); */
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1 {
  color: white;
  font-size: 36px;
  font-weight: 600;
}
.observation::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background:rgb(255, 251, 5) ;
  bottom: -10%;
  left: calc(50% - 25px);
}
.observation {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
p {
  color: white;
  font-size: 20px;
  font-weight: 300;
  line-height: 2;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.Obser-col {
  flex-basis: 31%;
  /* background:#FFFFFF ; */
  border-radius: 10%;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  box-shadow: 0px 10px 10px 0px rgba(216, 13, 13, 0.4);
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.Obser-col:hover {
  box-shadow: 0px 10px 10px 0px rgb(255, 251, 5);
  
}

.none{
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0);
}
@media(max-width: 700px){
  .row{
      flex-direction: column;
  }
}

.sat{
  width: 50vh;
  border-radius: 10%;
}

.asat{
  color: white;
  text-decoration: none;
}
.asat:hover{
  color: rgba(216, 13, 13, 0.4);
}


/* footer  */
footer{
  background-image: url(../image/صورة-مجرات-من-تلسكوب-هابل.jpg);
  background-size: 100% 100%;
  position: relative;
  background-attachment: fixed;
}




*,
html,
body {
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;

}
#container{
  background-color: black;
}

#toggleContainer label {
  text-align: center;
  width: 70px;
}

#container {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

#toggleContainer {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 95vw;
  position: absolute;
}

#tilesContainer {
  min-height: 90vh;
  width: 100vw;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: center;

}

.tileItem {
  width: 250px;
  height: 250px;
  margin: 5px;
  border-radius: 5px;

  transition: all 0.5s ease;
}

.tileItem:hover {
  transform: scale(1.05);
  transition: all 0.5s ease;
}

#galleryContainer {
  height: 500px;
  width: 800px;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

#toggle {
  height: 10vh;
  width: 200px;
  display: flex;
  align-items: center;
  margin: 10px;
}

#tilesView {
  min-height: 100vh;
  width: 100vw;
  background: rgb(0, 0, 0);
  background: linear-gradient(111deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 52%, rgba(0, 0, 0, 1) 100%);
  display: none;
  justify-content: center;
  align-items: center;

}

#galleryView {
  height: 100vh;
  width: 100vw;
  background: rgb(0, 0, 0);
  background: linear-gradient(111deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 52%, rgba(0, 0, 0, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#outer3 {
  width: 100px;
  height: 40px;
  background-color: white;
  margin: 10px auto;
  border-radius: 3px;
  border: 2px solid white;
  transition: all 0.5s;
}

#slider3 {
  height: 36px;
  width: 46px;
  background-color: black;
  border-radius: 3px;
  transition: all 0.5s;
}

#slider3.active {
  -webkit-transform: translatex(50px);
  -ms-transform: translatex(50px);
  -o-transform: translatex(50px);
  transform: translatex(50px);
  transition: all 0.5s;
  background-color: black;
}

#outer3.outerActive {
  background-color: white;
  border: 2px solid white;
  transition: all 0.5s;
}

#mainView {
  height: 450px;
  width: 450px;
  border-radius: 5px;
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  transition: all 1s;
}

#mainView:hover {
  transform: scale(1.2);
  transition: all 1s;
}

#leftView {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(5deg);
  transform-origin: top right;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

#leftView:hover {
  opacity: 1;
  transition: all 1s;
}

#rightView {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(-5deg);
  transform-origin: top left;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

#rightView:hover {
  opacity: 1;
  transition: all 1s;
}

.navBtns {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  position: absolute;
  opacity: 0.8;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.navBtns:hover {
  opacity: 1;
  transition: all 1s;
  /* background-color: black; */
}

#navLeft {
  left: 50px;
}
#navRight {
  right: 50px;
}

#linkTag {
  cursor: pointer;
  z-index: 1;
  box-sizing: border-box;
}


